.add-new{
    width: 192px;
    height: 80px;
    margin: 30px 10px 80px 30px;
    float: left;
    border-radius: 20px;
    padding-top: 10px;
     background:#dedede;
    }

.add-new p{
    margin:5px !important;
   }
   .card-body {
       padding: 0px !important;
   }
   .tool-box{
       float: left;
   }

.information{
    float: left;
  
}
.icon-size{
    font-size: 20px;

}

.table{
    width: 730px !important;
    text-align: center;
}
.btn:focus{
    box-shadow: none !important;
}


