
aside div {
    border:1px solid black;
}

.add-new{
    width: 20%;
    height: 80px;
    border-radius: 10px;
    line-height: 80px;
    background: pink;
    margin-bottom: 30px;
}
.list {
    width: 870px;
    height: 70px;
    line-height: 70px;
    font-family: nino-mtavruli;
    background: red;
}
.number {
    height: 100%;
    width: 70px;
    float: left;
    background: green;
}
.nominate {
    height: 100%;
    width: 400px;
    float: left;
    background: orange;
}
.edit {
    height: 100%;
    width: 200px;
    float: left;
    background: blue;
}
.delete {
    height: 100%;
    width: 200px;
    float: left;
    background:olive;

}