.clear-box {
    clear: both;
    height: 0px;
}


.container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

header {
    width: 1140px;
    height: 100px;
    /* background: #252222; */

    padding-top: 15px;
    background-image: url(../img-admin/foni.jpg);
}

header img {
    height: 70px;
}

* {
    margin: 0px auto;
    padding: 0;
}

/*damalva gamochena*/
#saidebar {
    position: fixed;
    width: 16%;
    height: 100%;
    left: -16%;
    background-image: url(../img-admin/foni.jpg);
    top: 101px;
}

#saidebar li {
    color: white;
    font-size: 16px;
    border-bottom: 1px solid grey;
    padding: 30px;
    text-align: center;

}

a {
    display: block;
    color: white !important;
    font-family: nino-mtavruli;
}

a:hover {
    text-decoration: none;
}

#saidebar ul li:hover {
    background: green;
}

.toggle-btn {
    position: absolute;
    left: 110%;

    top: 15px;
}

.toggle-btn span {
    display: block;
    background-color: blue;
    width: 30px;
    height: 5px;
    margin: 3px;
}

#saidebar.active {
    left: 0px;
}

.toggle-btn.active {
    left: 205px;

}

main {
    width: 1140px;
    height: 700px;

}


aside {
    width: 370px;
    height: 700px;
    float: left;
}

section {
    width: 770px;
    float: left;
    padding-left: 30px;
}



@font-face {
    font-family: beka;
    src: url("../../assets/fonts/beka.ttf");
}

@font-face {
    font-family: nino-mtavruli;
    src: url('../../assets/fonts/bpg_nino_mtavruli_bold.ttf');
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (max-width: 992px) {}

@media (min-width: 1200px) {}